<!DOCTYPE html>
<html>
  <head>
    <title>Config Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="/assets/application.css">
    <script type="module" src="/assets/application.js"></script>



  </head>
  <body class="p-4">
    <%= yield %>
  </body>
</html>
